@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;

}

header{
    background-color: white;
   
}
/* cabeça */

.container_grid{
    width: 1200px;
    margin: 0 auto;

}
/* tamanho grid */
.posicionamento_header{
    height: 100%;
    align-items: center;
  
    display: flex;
    justify-content: space-between;
    
}
/* posiçao do cabeçalho */

.conta-carrinho a{
    text-decoration: none;
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    
}

/* icones de conta e carrinhoi */

.menu a {
    font-family: "russo one";
    color: white;
    text-decoration: none;
    text-transform: uppercase;
      
}  

/* links menu */
.menu { 
    height: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #163b51; 
    height: 70px;
}

.banner{
    background-image: url(../img/15-iphone-13\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    
   
               
}
.banner img{
    max-width: 100%;
}

.Smartphones {
    background-color: #163b51;
    height: 70px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}

.Smartphones a{
    font-family: "russo one";
    color: white;
    text-decoration: none;
    text-transform: uppercase;    

}

.smarts1 {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 450px;

   

}

.smarts1 img{
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 200px;


}

.precos p {
    color: black;
    font-family: "russo one", "sans serife";  
    text-decoration: none;   
} 
.precos{
    display: flex;
    justify-content:space-between;
   
}


.comprar1 a{
    color:white;
    text-decoration: none;
    font-size: 25px;
    background-color: #163b51;
    font-family: "russo one";
    text-transform: uppercase;



}


.comprar1{
    display: flex;
    justify-content: space-between;
    padding: 50px;
   
    

}

.Acessórios{
    background-color: #163b51;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  

}

.Acessórios a {
    font-family: "russo one";
    color: white;
    text-decoration: none;
    text-transform: uppercase;   
}

.acess2 {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 450px;


}

.acess2 img{
    width: 250px;
    height: 250px;
}

.precos2 p {
    color: black;
    font-family: "russo one", "sans serife";  
    text-decoration: none;   
} 

.precos2 {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.comprar2 a{
    color:white;
    text-decoration: none;
    font-size: 25px;
    background-color: #163b51;
    font-family: "russo one";
    text-transform: uppercase;



}


.comprar2{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}  

.sobre-GM{
    display: flex;
    justify-content: space-around;
    
}

.sobre-GM{
    font-family: "russo one";
    font-size: 20px;
} 
.sobre-GM h1 {
    color: #163b51;
}
.sobre-GM h2 {
    color: #163b51;
}
.sobre-GM h3 {
    color: #163b51;
}

.sobre-GM h4 {
    color: #163b51;
}

.cnpj{
    font-family: "russo one";
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    


    
}  
